* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#map {
  position: absolute;
  top: 20px;
  bottom: 0;
  right: 0;
  left: 0;
}

#sidebar li{
  text-align:right;
}

#sidebar li .header{
  text-align:center;
  background-color:lightgrey;
}

#sidebar li .subheader{
  text-align:center;
  background-color:ghostwhite;
}