* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  direction: rtl;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#search {
  width: 40%;
  display: flex;
  margin: 5px;
}
#pac-input {
  background: white;
  padding: 0 5px;
}
#search button {
  width: 3em;
  height: 3em;
  font-size: 1rem;
  background: hsl(173, 86%, 65%);
  background: linear-gradient(90deg, hsl(173, 86%, 65%), hsl(173, 86%, 65%) 85%, hsl(173, 86%, 25%));
  border: 0;
}